<div class="container">
      <div class="jumbotron">
        <h1 class="display-4"> About me</h1>
          <a class="btn btn-primary" href="about.ejs" role="button">Contact List</a>
</div>     
<br>
  <div>
    <div>
<!--displayed photo with objective-->
<div>
<table>
        <tr>
            <td><img id="my" src="assets/image/my.JPG" height="190px" width="240px"></td>
            <td>My name is Kaivalkumar Patel. I have deep knowledge of various languages and understanding languages and diagnostic skills. I have strong background in computer language and C, C++, Java and ASP.net and C#.
                    I have strong aptitude for learning new technologies in this field to make my organisation better. My all work experience both related and non-related, I gain dual knowledge of hardware as well as software and can improve job performance and promote personal growth. The foundation of my success is my talent and passion for Leadership.</td>
        </tr>
    </table>
</div>
      <a class="btn btn-primary" href="https://drive.google.com/open?id=19AzUr8rr5upKCzGIOGS7pdyJ1PWWJk2B" target="_blank" role="button">Resume</a>
    </div>
  </div>
